<!-- Header Start -->
<%- include('layout/header') %>
<!-- Header End -->

<!-- body start -->
<div class="px-44 py-16">
  <div>
    <h1>Hello world</h1>
  </div>
</div>
<!-- body end -->

<!-- Footer Start -->
<%- include('layout/footer') %>
<!-- Footer End -->